body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: MetropolisMedium;
  src: url("./fonts/Metropolis-Medium.otf");
}

@font-face {
  font-family: MetropolisSemiBold;
  src: url("./fonts/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: MetropolisThin;
  src: url("./fonts/Metropolis-Thin.otf");
}

@font-face {
  font-family: MetropolisRegular;
  src: url("./fonts/Metropolis-Regular.otf");
}
